<script>
import { mapState, mapActions } from 'vuex';
import IssuesDeck from './IssuesDeck';
import AssignedMrsDeck from './AssignedMRsDeck';
import CreatedMrsDeck from './CreatedMRsDeck';
import PipelinesDeck from './PipelinesDeck';
import Loading from './Loading';

export default {
  components: {
    Loading,
    IssuesDeck,
    AssignedMrsDeck,
    CreatedMrsDeck,
    PipelinesDeck,
  },
  computed: {
    ...mapState(['isLoading']),
  },
};
</script>

<template>
  <div class="Dashboard">
    <loading v-if="isLoading" />
    <template v-else>
      <issues-deck />
      <assigned-mrs-deck />
      <created-mrs-deck />
      <pipelines-deck />
    </template>
  </div>
</template>

<style>
@import url('/src/assets/variable.css');
.Dashboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: var(--gutter);
}
.Dashboard .Loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1170px) {
  .Dashboard {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 765px) {
  .Dashboard {
    flex-direction: column;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
</style>
