<script>
export default {
  name: 'ErrorMessage',
  props: {
    message: {
      type: String,
      default: 'An error has occured 😔'
    }
  }
}
</script>

<template>
  <div class="error-message">{{ message }}</div>
</template>

<style scoped>
@import url('/src/assets/variable.css');

.error-message {
  text-align: center;
  color: var(--text-color);
  margin-top: 20px;
}
</style>
