<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatDate(date) {
      const openDate = new Date(date);

      return (`${openDate.toLocaleDateString()} ${openDate.toLocaleTimeString()}`);
    },
  },
}
</script>

<template>
  <div>
    <a
      :href="item.web_url"
      target="_blank"
    >
      {{item.title}}
    </a>
    <span>
      <img class="avatar" :src="item.author.avatar_url" alt="">
      <b>{{ item.author.username }} - {{ formatDate(item.created_at) }} </b>
    </span>
  </div>
</template>
