<script>
import { mapState, mapActions } from 'vuex';
import widgetMixin from '../mixins/widget';

export default {
  mixins: [widgetMixin],
  computed: {
    ...mapState(['user', 'pipelines']),
  },
  methods: {
    ...mapActions(['fetchPipelines']),
    fetchData(){
      return this.fetchPipelines();
    }
  }
}
</script>

<template>
  <list
    title="Pipelines"
    subtitle="pipelines"
    :icon-number="1"
    :items="pipelines"
    :has-error="hasError"
    :is-loading="isLoading"
  />
</template>
