<script>
import TokenNotFoundIcon from './icons/TokenNotFound';

export default {
  components: {
    TokenNotFoundIcon,
  },
}
</script>

<template>
  <div class="landing token">
    <token-not-found-icon />
    <p>Please set your GitLab Personal Access Token</p>
  </div>
</template>

<style>
@import url('/src/assets/variable.css');
.landing {
  text-align: center;
  padding-top: 50px;
}
.landing p {
  color: var(--text-color);
  font-size: 22px;
}
.landing svg {
  max-width: 225px;
}
.landing.token svg {
  max-width: 350px;
}
.landing.project svg {
  margin-bottom: 20px;
}
</style>
