<script>
import { mapState, mapActions } from 'vuex';
import Dashboard from './components/Dashboard';
import ErrorMessage from './components/ErrorMessage';
import GitlabHeader from './components/AppHeader';
import TokenLanding from './components/TokenLanding';
import ProjectIdLanding from './components/ProjectIdLanding';
import { getToken } from './store/utils';

export default {
  name: 'GitLabDeck',
  components: {
    Dashboard,
    GitlabHeader,
    ErrorMessage,
    TokenLanding,
    ProjectIdLanding,
  },
  data() {
    return {
      hasError: false,
    }
  },
  computed: {
    ...mapState(['hasToken', 'selectedProjectId']),
  },
  methods: {
    ...mapActions(['fetchProjects', 'fetchUser', 'toggleLoading', 'toggleToken']),
    async fetchData() {
      try {
        await this.fetchUser();
        await this.fetchProjects();
        this.toggleLoading();
      } catch (e) {
        this.hasError = true;
      }
    }
  },
  async mounted() {
    if (getToken()) {
      this.toggleToken();
    }
  },
  watch: {
    async hasToken() {
      if (this.hasToken) {
        await this.fetchData();
      }
    }
  },
}
</script>

<template>
  <div id="app">
    <gitlab-header/>
    <token-landing v-if="!hasToken" />
    <project-id-landing v-else-if="!selectedProjectId" />
    <template v-else>
      <error-message v-if="hasError" />
      <dashboard v-else />
    </template>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import url('/src/assets/variable.css');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: var(--gitlab-color);
}
</style>
